
/* COURSES PAGE */


.course-grid {
  display:grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}

.course-card {
  display: grid;
  grid-template-columns: 1fr;
  border: 1px solid black;
}
.course-card h2,
.course-card p {
  margin-top: 10px;
  margin-bottom: 10px;
  padding-left: 15px;
}

.course-card h2 {
  font-size: 2rem;
}

.course-card img {
  width: 100%;
}

.course-cta {
  text-transform: uppercase;
  text-decoration: none;
  display: block;
  width: 200px;
  margin: auto;
  margin-bottom:20px;
  padding: 15px;
  background-color: #FAD700;
  color: #2C3E50;
  font-weight: bold;
  border-radius: 4px;
}

