
/* COURSES PAGE */


.course-grid {
  display:grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.course-card {
  display: grid;
  grid-template-columns: 1fr;
  border: 1px solid #FAD700;
}
.course-card h2,
.course-card h3,
.course-card p {
  margin-top: 10px;
  margin-bottom: 10px;
  padding-left: 15px;
  padding-right: 15px;
}

.course-card h2 {
  font-size: 2rem;
}

.course-card img {
  width: 100%;
}

// .course-cta {
//   text-transform: uppercase;
//   text-decoration: none;
//   display: block;
//   width: auto;
//   margin: auto;
//   margin-bottom:20px;
//   padding: 15px;
//   background-color: #FAD700;
//   color: #2C3E50;
//   font-weight: bold;
//   border-radius: 4px;
// }



/* mailchimp */


#mc_embed_signup form {
  margin-top: 20px !important;
  background-color: inherit !important;
  padding: 0 !important;
}

// style the email input
#mc_embed_signup input[type="email"] {
  background-color: #fff !important;
}

#mc-embedded-subscribe{
  background-color:#FAD700 !important;
  color: #2c3e50 !important;
}


// end mailchimp style

