
/* COURSES PAGE */


.course-grid {
  display:grid;
  grid-template-columns: minmax(300px, 1fr);
}

.course-card {
  display: grid;
  grid-template-columns: 1fr;
  border: 1px solid black;
}
.course-card h2,
.course-card p {
  margin-top: 10px;
  margin-bottom: 10px;
}

.course-card h2 {
  font-size: 2rem;
}

.course-card img {
  width: 100%;
}

.course-cta {
  display: block;
  width: 200px;
  margin: auto;
  background-color: #FAD700;
  font-size: 2rem;
  color: #2C3E50;
}

